@model LoginSignupViewModel

@using (var loginForm = Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "navbar-form navbar-right form-inline" }))
{
    @Html.AntiForgeryToken();
    <div class="form-group @(Html.ViewData.ModelState.IsValidField("Login.Username") ? "" : "has-error has-feedback")">
        @Html.TextBoxFor(m => m.Login.Username, new { placeholder = "Username", @class = "form-control" })
        @if (!Html.ViewData.ModelState.IsValidField("Login.Username"))
        {
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        }
    </div>

    <div class="form-group @(Html.ViewData.ModelState.IsValidField("Login.Password") ? "" : "has-error has-feedback")">
        @Html.PasswordFor(m => m.Login.Password, new { placeholder = "Password", @class = "form-control" })
        @if (!Html.ViewData.ModelState.IsValidField("Login.Password"))
        {
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        }
    </div>
    <button type="submit" class="btn btn-primary" >Login</button>
}